# **Lab 1 Exercise**

*Exercise 1*

In [1]:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 122
122 is not a prime number

Exercise 2

In [2]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

average = sum(numbers) / len(numbers)

print("The average is:", average)

The average is: 55.0

Exercise 3

In [3]:
students = {
    "Danish": 85,
    "Rayyan": 92,
    "Ahmad": 78,
    "Umer": 95,
    "Abubakar": 88
}

topper = max(students, key=students.get)

print("Topper:", topper, "with marks:", students[topper])

Topper: Umer with marks: 95

Exercise 4

In [4]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print("Union:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

difference_set = set1.difference(set2)
print("Difference (set1 - set2):", difference_set)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

Exercise 5

In [5]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter a number: "))
print("Factorial of", num, "is:", factorial(num))

Enter a number: 12
Factorial of 12 is: 479001600

Exercise 6

In [6]:
n = int(input("Enter number of terms: "))

a, b = 0, 1

print("Fibonacci series:")
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 122
Fibonacci series:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026 354224848179261915075 573147844013817084101 927372692193078999176 1500520536206896083277 2427893228399975082453 3928413764606871165730 6356306993006846248183 10284720757613717413913 16641027750620563662096 26925748508234281076009 43566776258854844738105 70492524767089125814114 114059301025943970552219 184551825793033096366333 298611126818977066918552 483162952612010163284885 781774079430987230203437 1264937032042997393488322 2046711111473984623691759 3311648143516982017180081 5358359254990966640871840 8670007398507948658051921

Exercise 7

In [7]:
text = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Enter a string: My Name is Danish
Number of vowels: 5

Exercise 8

In [13]:
numbers = (12, 45, 7, 89, 34, 67, 23, 5)

print("Tuple:", numbers)
print("Maximum:", max(numbers))
print("Minimum:", min(numbers))

Tuple: (12, 45, 7, 89, 34, 67, 23, 5)
Maximum: 89
Minimum: 5

Exercise 9

In [12]:
numbers = (12, 45, 7, 89, 34, 67, 23, 5)

print("Tuple:", numbers)
print("Maximum:", max(numbers))
print("Minimum:", min(numbers))

Tuple: (12, 45, 7, 89, 34, 67, 23, 5)
Maximum: 89
Minimum: 5